.wrapper {
  width: 100%;
  height: 100vh;
}

.items {
  position: absolute;
  background-color: white;
  height: 100%;
  transition: all 1s;
  width: 350px;
  padding: 2rem 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.75);
  justify-content: space-around;
  box-sizing: border-box;
}

.items > p,
.items .btn-select {
  text-align: center;
  font-size: 1rem;
}

.items__list {
  display: inline-block;
  height: 50%;
  overflow-y: scroll;
  padding-left: 0;
  width: 100%;
}

.items__item {
  position: relative;
  border-top: 1px solid darkgray;
  display: flex;
  align-items: center;
  padding: 20px 15px;
  margin: 0;
}

.items__item:hover {
  cursor: pointer;
}

.item__close {
  max-width: 100%;
  height: auto;
  width: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.item__info {
  padding: 0 20px 0 0;
}

.item__img {
  max-width: 100%;
  width: 75px;
  height: auto;
  padding: 0 15px 0 0;
}

.item__address {
  font-size: 1rem;
}

.item__address span {
  display: block;
}

.btn-select {
  text-decoration: none;
  color: black;
  background: none;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 30px;
}

.checked {
  background-color: lightgray;
}

.attr {
  height: 50%;
  overflow-y: scroll;
  max-height: 350px;
}

.summary-btns {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

/********Style for PrizeSlider**********/

* {
  font-family: "arial", "Helvetica", sans-serif;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

.example-1 {
  margin-top: 50px;
}

.slider-container {
  position: relative;
}

.slider-selected-scale {
}

.slider {
  position: relative;
  user-select: none;
  margin-top: 10px;
}

.slider-scale {
}

.slider-thumb {
  position: absolute;
  background-color: gray;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: -8px;
  touch-action: none;
}

.slider-thumb-min {
  background-color: red;
}

.slider-thumb-max {
  background-color: blue;
}

.slot {
  text-align: center;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: none;
}

.scale-mark {
  position: absolute;
  border: 0.5px solid lightgray;
  height: 10px;
}

.slot-scale {
  text-align: center;
  display: inline-block;
  width: 20px;
  height: 20px;
  color: lightgray;
  user-select: none;
}

.slot > .slider-thumb {
  top: 3px;
}

.line {
  position: absolute;
  background-color: lightgray;
  height: 2px;
  width: 20px;
  top: 12px;
}

.line-selected {
  height: 4px;
  background-color: #191919;
}